<%- include('partials/header'); -%>

<section class="title-section">
  <h1 class="title-heading">ABOUT US</h1>
  <p class="title-content"><%= aboutStartingContent %> </p>
</section>

<%- include('partials/footer'); -%>