<%- include('partials/header'); -%>

<section class="title-section">
  <h1 class="title-heading"><%= blogTitle %> </h1>
  <p class="title-content"><%= blogContent %> </p>
</section>

<%- include('partials/footer'); -%>
