<%- include('partials/header'); -%>

<section class="title-section">
  <h1 class="title-heading">CONTACT US</h1>
  <p class="title-content"><%= contactStartingContent %> </p>
</section>

<%- include('partials/footer'); -%>